$fs-xs: 1.5rem;
$fs-sm: 2rem;
@mixin tamanios($w, $h) {
  width: $w;
  height: $h;
}

* {
  padding: 0em;
  margin: 0em;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Tourney", cursive;
}

/* "-----------------------Aca van las ID------------------------" */

#soloAudio {
  margin: 200px;
  border: 1px solid darkslategray;
}
#imagenS {
  @include tamanios(55rem, 28rem);
}
#imagenM {
  @include tamanios(52rem, 40rem);
}
#imagenL {
  @include tamanios(50rem, 50rem);
}
#sinMarg {
  margin: 0%;
}
#sinPad {
  padding-left: 0rem;
  padding-right: 0rem;
}
#parrafos {
  font-size: $fs-sm;
}
#titulo {
  font-size: ($fs-sm * 4)-2;
  text-align: center;
}
#subtitulo {
  font-size: $fs-sm * 2;
  text-align: center;
}
#carruselColorText {
  opacity: 0.9;
  background-color: black;
  font-size: $fs-xs;
  color: darkturquoise;
}
#bgFormulario {
  background-image: url("../Imagenes\ de\ trabajo/background-formulario.jpg");
  background-size: 100%;
}
/* "-----------------------Aca van todos los class------------------------" */

.logo {
  border: 0.3rem solid aquamarine;
  @include tamanios(9rem, 9rem);
}
.mainBg {
  background-color: blanchedalmond;
}
.bgBody {
  background-image: url("../Imagenes\ de\ trabajo/megaman-bg.jpg");
  background-size: 15rem;
  background-repeat: repeat;
}
/* "------------Class solo para index.html------------" */

.imagenMain {
  @include tamanios(48rem, 36rem);
}

/* --------------------------------------- */

.copyright {
  color: #f2f2f2;
  font-size: $fs-sm;
  width: auto;
}
.contactos {
  width: 5rem;
}
.contactos:hover {
  transform: scale(1.1);
}
.contactosSegundo {
  width: 6.5rem;
}
.contactosSegundo:hover {
  transform: scale(1.1);
}

.centrarTexto {
  text-align: center;
  font-size: $fs-xs;
}
.textoFormulario {
  color: aquamarine;
  font-size: $fs-xs;
}
.sinPad {
  padding: 0rem;
}

/* "---------------------------Esto es para el menu principal-----------------------------" */
.iconNav {
  @include tamanios(3rem, 3rem);
}

/* "---------------Esto es para la etiqueta footer----------------" */

.adaptar {
  @include tamanios(auto, auto);
}
